/* @media (max-width: 1025px) {
    .userDetailName {
      display: none;
    }
    .loginButton {
      margin-right: 2rem;
    }
    .userDetailPic {
      margin-right: 2rem;
    }
  } */

  @media (max-width: 1535px) {
    .searchBar{
      width: 15rem;
    }
  }

  @media (max-width: 1278px) {
    .searchBar{
      width: 11rem;
    }
  }

  @media (max-width: 1025px) {
    .middleNav,
    .loginButton,
    .userDetailName {
      display: none;
    }
    .firstNav{
      justify-content: flex-start;
    }
    .hamburger-menu{
      display: block;
    }
    .searchBar{
      height: 2rem;
      width: 28rem;
    }
  
    .mobileNavDiv{
      max-width: 700px;
    }
  
    .mobileNavDiv {
      display: grid;
      margin-top: 3.5rem;
      position: absolute;
      color: aliceblue;
      width: 90%;
      margin-left: 2rem;
      grid-column: 2/5;
      z-index: 99;
      background-color: rgb(155, 76, 11);
      height: 15rem;
      align-items: center;
      padding-left: 3rem;
      transition: all 1s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  
    .mobileNavDiv ul {
      height: 15rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
  }

  @media (max-width: 767px) {
    .mobileNavDiv{
      max-width: 580px;
    }

    .searchBar{
      width: 20rem;
    }
  }

  @media (max-width: 578px) {
    .searchBar{
      width: 15rem;
    }
  }

  @media (max-width: 500px) {
    .searchBar{
      width: 10rem;
    }
  }

  @media (max-width: 430px) {
    .logoPic{
      width: 5rem;
    }
  }
  